body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.todo-item {
    font-size: xx-large;
}

.btn {
    font-size: large;
}

.description {
    font-size: xx-large;
}
