body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.todo-item, .description {
    font-size: xx-large;
}

.btn {
    font-size: large;
}

.form-group {
    font-size: x-large;
}

.date {
    font-size: medium;
}
